#grid__dashboard{
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-areas: "sidebar main";
  height: 100vh;
  width: 100vw;
}


.dashboard {
  grid-area: main;
  display: flex;
  background: #F7F6F1;
  height: 100%;
  justify-content: center;
  flex-direction: row;


  .widget {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(137, 157, 164);
  }

  .featured {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(137, 157, 164);
  }

  .dashboardContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
      width: 80vw;
    }

    .chart {
      padding: 5px 20px;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgb(137, 157, 164);
    }

    .listContainer {
      background-color: #fff;
      box-shadow: 0px 0px 10px rgb(137, 157, 164);
      padding: 20px;
      margin: 20px;
      width: 78vw;

      .listTitle {
        font-weight: 500;
        color: #000000;
        margin-bottom: 15px;
      }
    }
  }
}